
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left:  30px;
    padding-right: 30px;
    margin: auto;
    text-align: center;
    color: white

   
    }
    
 th, td{
    background-color: transparent;
   }

image{
   max-width:  42px;
}
 
h1{

   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
   font-weight: bold;
   text-align:center;
}
.italic {
   font-style: italic;

}

   








